doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title NodeKnowledgeBase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand.mx-auto(href='/') NodeKnowledgeBase
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.dual-collapse2')
        span.navbar-toggler-icon
      .navbar-collapse.collapse.dual-collapse2
        ul.navbar-nav.ml-auto
          if user
            li.nav-item
              a.nav-link(href='/articles/add') &nbsp;&nbsp;Add Article 
              <!-- to do edit add article to have left margin?
                i.fas.fa-plus-circle
        .navbar-collapse.collapse.dual-collapse2
          ul.navbar-nav.ml-auto
            if !user
              li.nav-item
                a.nav-link(href='/users/register') Register 
                  i.fas.fa-user-plus
              li.nav-item
                a.nav-link(href='/users/login') Login 
                  i.fas.fa-sign-in-alt 
            if user
              li.nav-item
                a.nav-link(href='/users/logout') Logout 
                  i.fas.fa-sign-out-alt 
    .container
      br
      != messages('my_message_template', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content
      br
      footer
        p Copyright &copy 2018
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
