.alert-error{
  background-color: #dc3545;
}

.alert.success_msg{
  background-color: #28a745;
}

.edit-btn{
  margin-right: .2em;
 }

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
footer {
  position: absolute;
  right: 0;
  bottom:0;
  left:0;
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}

footer p{
  margin: 0;
  padding: 0;
  text-align: center;
  color: #eceff1;
}

.list-group-item{
  transition: background-color 0.2s ease-in-out;
}
.list-group-item a{
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.2s ease-in-out;
}

.list-group-item a:hover{
color:#1abc9c;
}

.list-group-item:hover{
  background-color: #ecf0f1;
}
